[2022-05-28 12:44] asterriya opened #2 "Nextdns?"
Why Nextdns was removed from sources?

[2022-05-28 15:41] hagezi commented on #2
Hi, my mistake, got lost in the readme. I'll fix the readme in a moment.

[2022-05-28 15:42] #2 closed

[2022-06-06 21:16] Slipi089 opened #3 "Aktivierung von Lizenzen von Ashampoo Produkten"
Aktivierung von Lizenzen von Software des Anbieters Ashampoo wird geblockt:
licenses.ashampoo.com
Bitte in die Whitelist aufnehmen.

[2022-06-07 09:41] #3 closed

[2022-06-08 16:05] asterriya opened #4 "Advice for personal AD list"
Love what you do. So decide to give additional stuff to make your personal list better. Take a look at this https://whotracks.me/blog/generating_adblocker_filters.html

[2022-06-08 16:07] asterriya commented on #4
And here is domains for adding to whitelist

@@||googlesyndication.com^$important
@@||feedburner.com^$important
@@||opera.com^$important
@@||protraffic.com^$important

[2022-06-08 18:44] hagezi commented on #4
Hi, thanks for the tip, I'll take a look.

[2022-06-23 05:20] Bertaz opened #5 "de.aukey.com false positive"
de.aukey.com is listed in [/data/black.list.fake.vzni](../blob/main/data/black.list.fake.vzni).
It's the german site for Aukey, directly linked on the US site [aukey.com](https://www.aukey.com).

The list source appears to be www.verbraucherzentrale-niedersachsen.de/vorsicht-falle which lists the de.aukey.com domain at www.verbraucherzentrale-niedersachsen.de/vorsicht-falle/deaukeycom-sitz-des-unt

[2022-06-23 06:08] hagezi commented on #5
Thanks, fixed.

[2022-06-23 06:08] #5 closed

[2022-06-25 03:42] sr093906 opened #6 "FP in Personal DNS Blocklist"
www.online.sh.cn

This is a local news portal

[2022-06-25 08:23] hagezi commented on #6
Thanks, fixed.

[2022-06-25 08:23] #6 closed

[2022-06-29 08:27] sr093906 opened #7 "Using Third-Party Allow Lists to Reduce FPs"
User feedback is good but maybe limited. How about using allow lists from third parties to reduce FPs?

A few examples:

https://github.com/anudeepND/whitelist/blob/master/domains/whitelist.txt
https://github.com/EnergizedProtection/unblock/blob/master/basic/formats/domains.txt
https://github.com/privacy-protection-tools/dead-horse/blob/master/anti-ad-white-list.txt
https://github.com/bongochong/C

[2022-06-29 09:47] hagezi commented on #7
Thanks, I already use whitelists. I'll see what can be used from it. Less is sometimes more.

Except for the pro list, the lists should actually contain no to very few false positive domains.

[2022-06-30 13:35] sr093906 opened #8 "FP"
mail.tsinghua.edu.cn

This is portal of Tsinghua University mail system.

A reminder: one of 1Hosts' source is **top 1m domain list by Cisco Umbrella**.

https://github.com/badmojr/1Hosts/blob/master/-data/lists/assets.txt (http://s3-us-west-1.amazonaws.com/umbrella-static/top-1m.csv.zip)

Does the source is included in the so-called lite version? Shouldn't this list used more as an allow list? I

[2022-06-30 17:19] hagezi commented on #8
Thanks.

The domain stemmed from the OISD, NoTracking, SomeoneWhocares and Steven Black blocklists.

Domain was removed.

I use the toplists partly for my personal whitelist.

[2022-06-30 17:19] #8 closed

[2022-06-30 17:34] hagezi commented on #8
ping @sjhgvr

[2022-06-30 17:42] sjhgvr commented on #8
Fixed in oisd

[2022-07-01 03:39] badmojr commented on #8
Hello.
It's only included on **Xtra.**

[2022-07-01 07:13] notracking commented on #8
Original source is https://someonewhocares.org/hosts/
Fixed in notracking list, thanks for the ping!

[2022-07-01 08:08] humsg opened #9 "false positive for personal"
Hi, I track down from oisd.nl list, link below for personal is included:
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/personal.txt,
please remove d.ifengimg.com from your list, and it is image url for news site of www.ifeng.com

thank you

[2022-07-01 08:20] hagezi commented on #9
Thanks, removed. https://github.com/hagezi/dns-blocklists/commit/0149bd91f55abd66be14a761b876aca7332ec728

[2022-07-01 08:20] #9 closed

[2022-07-01 08:27] #7 closed

[2022-07-01 10:54] sr093906 opened #10 "FP"
www.ks.cn

This is portal of government of Kunshan, a city in Jiangsu province.

Blocked as a malicious domain in Urlhaus and even some DNS services because of a single file infected with macro virus

https://urlhaus.abuse.ch/url/1393110/

[2022-07-01 11:01] sr093906 opened #11 "sea.net.edu.cn"
sea.net.edu.cn

This is also portal of Tsinghua University mail system. Again it is blocked by someonewhocares's hosts. The author seems quite unsatisfied with Chinese educational institutions.

[2022-07-01 11:57] hagezi commented on #10
Flagged as phishing: [Virus Total](https://www.virustotal.com/gui/url/5088b91af2f7962e0e54ca3ad92c52878bd4cc65d56cf026b306db686512504d)

As long as it is flagged and it is on more blocklists, I will not remove it. Furthermore, the HTTPS certificate of the website is invalid.

Please report the domain directly to URLhaus and/or put it on your personal whitelist.

[2022-07-01 12:29] #11 closed, assigned to nobody

[2022-07-01 12:47] hagezi commented on #11
ping @sjhgvr, @notracking

[2022-07-01 12:59] hagezi commented on #10
http://www.ks.gov.cn/ is the "official" domain and it is not blocked.

www.ks.gov.cn: 121.32.243.73
www.ks.cn: 121.32.243.75
ks.cn: 222.92.84.170)

[2022-07-01 14:09] sjhgvr commented on #11
Fixed. Thanks

[2022-07-01 17:22] #10 closed

[2022-07-02 07:45] humsg commented on #9
thank you

[2022-07-04 11:40] the-poor-gamer-124 opened #12 "networkbest.ru.com"
networkbest.ru.com is used for video delivery on "some" websites
cosider unblocking it

[2022-07-04 13:34] #12 closed

[2022-07-06 16:10] Domsicols opened #13 "Please check "myflixer.to" is being blocked"
It is a legitimate site for watching tv shows and movies.

Thanks in advance

[2022-07-06 17:30] hagezi commented on #13
Hi,

this Domain is flagged as malicious: https://www.virustotal.com/gui/domain/myflixer.to

I have checked the domain myself and see no reason to block it. Domain will be removed.

[2022-07-06 17:54] hagezi commented on #13
Thanks, removed.

[2022-07-06 17:54] #13 closed

[2022-07-17 06:10] Domsicols opened #14 "Whitelist "bestgore.fun""
Its a site fore casual gore videos. Nothing malicious.

Thanks in advance

[2022-07-18 04:51] hagezi commented on #14
removed

[2022-07-18 04:51] #14 closed

[2022-07-18 16:34] Domsicols opened #15 "Why is "browser.sentry-cdn.com" not being block? But according to the included list. It should be with the D3Ward Hosts? Thus making it only 99% blocked host in that website. Thank you in advance"
![image](https://user-images.githubusercontent.com/104392824/179559417-913ee2e4-18ea-4581-8d14-7444004e224a.png)

![image](https://user-images.githubusercontent.com/104392824/179559612-3d1576ae-a6f2-497c-aba6-8adbc0f4961a.png)

[2022-07-19 03:11] hagezi commented on #15
Fixed in pro.

[2022-07-19 03:12] #15 closed

[2022-07-19 16:27] Domsicols opened #16 "iOS insufficient blocking"
Can you block more bad domains specifically in iOS? Im using adguard for iOS btw.Take for example the screenshot i added. And maybe there is even more that is considered as a tracker etc. Thank you in advance

![image](https://user-images.githubusercontent.com/104392824/179800129-eaa1a5a1-aafd-41ab-b042-566ccc7e97be.png)

[2022-07-19 18:08] hagezi commented on #16
Fixed in pro after next auto update.

[2022-07-20 01:57] Domsicols commented on #16
Thank you so much! Really love your blocklist!

[2022-07-20 07:37] #16 closed, assigned to nobody

[2022-07-23 00:13] Domsicols opened #17 "xp.apple.com"
xp.apple.com - Network access to this hostname is required for installing, restoring, and updating macOS, iOS, and tvOS:
https://support.apple.com/en-us/HT210060

[2022-07-23 16:54] hagezi commented on #17
Thanks, fixed.

[2022-07-23 16:54] #17 closed

[2022-07-24 17:51] Domsicols opened #18 "graph.facebook.com"
This blocks some of the functionality of facebook app.

Thanks

[2022-07-25 03:26] #18 closed

[2022-07-26 13:00] baumgart opened #19 "activehosted.com"
activehosted.com is on your blocklist, which blocks the "unsubscribe from list" page mailing lists of activecampaign.com.

[2022-07-26 17:07] hagezi commented on #19
Thanks, fixed.

[2022-07-26 17:07] #19 closed

[2022-07-30 15:28] Domsicols opened #20 "Shrink pro version"
Is it possible to shrink the pro version because I am using Adguard pro on ios and its only limitation is that greater than 500k domains it will not work? Thanks in advance

[2022-07-30 15:38] hagezi commented on #20
Please use the multi list. Currently I can not reduce the list. It will rather grow. The blocking performance with the multilist will be the same with AdBlock iOS. I have made a few adjustments in the multilist.
If you miss something just let me know.

[2022-07-31 13:40] Domsicols commented on #20
Thanks, I'll try the multi list but please make additions with the multi list not exceeding 500k, 450k  would be great since the pro has jumped with significant number of added list to 650k,

[2022-08-01 00:59] Domsicols opened #21 "https://app.getsentry.com"
Why this is not blocked on multi but on light it is blocked and scored 100 on d3ward

Thanks![image](https://user-images.githubusercontent.com/104392824/182053677-fb2b1417-2c96-4140-897b-e48b3ff929ec.png)

[2022-08-01 06:23] #21 closed

[2022-08-01 07:21] #20 closed

[2022-08-01 21:00] timkgh opened #22 "AdGuard Home affiliate and tracking list"
Any plans to bring back the list you used to maintain for AGH?https://raw.githubusercontent.com/Zelo72/adguard/main/whitelist.referral.adguard

[2022-08-01 21:06] hagezi commented on #22
Hi, yes:
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/whitelist-referral.txt

[2022-08-01 22:50] #22 closed

[2022-08-04 05:39] Domsicols opened #23 "Ads"
I am seeing ads in this particular site. Can you check? https://animals.howstuffworks.com/arachnids/pelican-spiders.htm

![image](https://user-images.githubusercontent.com/104392824/182771104-3683061f-0c8d-4bcb-b0ec-d7bfa76e73d3.png)

[2022-08-04 05:39] Domsicols commented on #23
Im using pro btw

[2022-08-04 09:34] hagezi commented on #23
Hi,

I cannot reproduce this via the link provided. I do not see any ads.

![grafik](https://user-images.githubusercontent.com/104343908/182814849-de757720-0afa-45b6-b4f0-910a8eb2466a.png)

Test environment:
AdGuard Home, Pro Blocklist (latest build), Browser: Safari on iOS

Please check again.

Cheers,
Gerd

[2022-08-05 08:36] Domsicols commented on #23
Thanks. No problem on safari, this appears on the flipboard app itself.

[2022-08-05 08:36] #23 closed

[2022-08-05 19:36] hagezi commented on #20
@Domsicols I have optimized the pro version and additionally limited the size to a maximum of 500000 entries.

[2022-08-05 20:53] Domsicols commented on #20
Thank you! Really appreciate it.

[2022-08-08 02:56] Domsicols opened #24 "go.e2language.com"
It is use to open links in e2 page where it is a english reviewing website.

[2022-08-08 04:48] hagezi commented on #24
Thanks for your support. Removed.

[2022-08-08 04:48] #24 closed

[2022-08-12 02:59] Domsicols opened #25 "go.e2language.com"
It is blocked on pro and it its unable to load links from yahoo mail. Its a english language reviewing website. Thanks

[2022-08-12 03:04] hagezi commented on #25
removed on next update.

[2022-08-12 03:04] #25 closed

[2022-08-12 03:05] Domsicols commented on #25
Sorry i have already reported this and i did not remember. Thank you

[2022-08-12 03:30] hagezi commented on #25
ping @notracking

[2022-08-15 11:51] rainforest1155 opened #26 "cdn.elev.io blocked in light.txt"
Could you add cdn.elev.io to the whitelist? It's a service used as a knowledge base by different companies and with this blocked, the knowledge base / support pages and in product help of companies using the service no longer work.

For example SmugMug is using it for its knowledge base on www.smugmughelp.com .

Thanks!

[2022-08-15 12:18] hagezi commented on #26
Thanks, removed.

ping @badmojr: blocked in 1Hosts lite/pro

[2022-08-15 12:18] #26 closed

[2022-08-23 09:05] gyCfjSnO opened #27 "||js.sentry-cdn.com^"
When ```||js.sentry-cdn.com^``` is blocked it breaks ```https://www.pizzahut.com.au/``` can't put store information or address in etc.

Unblocking ```||js.sentry-cdn.com^``` allows for postcode/address to be put in to set delivery or pickup of pizza.

[2022-08-23 11:53] hagezi commented on #27
Are you sure that blocking `js.sentry-cdn.com` will cause this? I can't really imagine that. `sentry-cdn` is tracking. Can you provide more details and what blocker are you using?

I can't test it myself, wrong region.

[2022-08-23 12:05] hagezi commented on #27
I was able to test it after all, you're right. I'll put `js.sentry-cdn.com` on the whitelist. Thanks!

![grafik](https://user-images.githubusercontent.com/104343908/186153441-1989b6b9-4b42-4bc2-8426-56492032cdeb.png)

[2022-08-23 12:11] #27 closed

[2022-09-04 13:55] AlexHuebi opened #28 "False Positive: domaintechnik.at"
In der Liste "Fake DNS Blocklist" steht "domaintechnik.at".

https://www.trustedshops.at/shops/?q=domaintechnik.at

Auch in der Quelle kann die Domain nicht gefunden werden:
https://www.watchlist-internet.at/search/?id=153&tx_kesearch_pi1%5Bsword%5D=domaintechnik.at&tx_kesearch_pi1%5Bpage%5D=1&tx_kesearch_pi1%5BresetFilters%5D=0&tx_kesearch_pi1%5BsortByField%5D=&tx_kesearch_pi1%5BsortByDir%5D=

[2022-09-04 15:40] hagezi commented on #28
Danke für den Hinweis, Doman wurde entfernt. Gruß, Gerd

[2022-09-04 15:40] #28 closed

[2022-09-08 09:32] notracking commented on #25
Fixed!

[2022-09-14 13:35] Nabhan87 opened #29 "domain Positive: http://www.codecguide.com/"
![image](https://user-images.githubusercontent.com/96574749/190168525-289a869a-2bca-4588-9ac9-f7b5736900bd.png)

[2022-09-14 14:16] hagezi commented on #29
Hi @Nabhan87 ,
the domain `codecguide.com` is not on any of my lists.
Regrads,
Gerd

[2022-09-14 14:39] #29 closed

[2022-09-17 10:26] sr093906 opened #30 "56.com"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

Chinese video site

[2022-09-17 10:28] sr093906 opened #31 "baihe.com"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

one of top Chinese dating agencies

[2022-09-17 10:29] sr093906 opened #32 "flvto.biz"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

a functional but somewhat annoying YT download site

[2022-09-17 10:30] sr093906 opened #33 "happyelements.cn"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

Chinese game publisher

https://happyelements.cn/games/all/

[2022-09-17 10:46] sr093906 opened #34 "hexun.com"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

Chinese financial news portal

[2022-09-17 10:49] sr093906 opened #35 "knet.cn"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

registrar of Chinese TLD .网址

https://knet.cn/contact/?type=introduction

[2022-09-17 10:49] sr093906 opened #36 "ku6.com"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

Chinese video site

[2022-09-17 10:50] sr093906 opened #37 "pc6.com"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

software download site

[2022-09-17 10:51] sr093906 opened #38 "uu.cc"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

game publisher

[2022-09-17 10:51] sr093906 opened #39 "yu.ac.kr"
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

a Korean university

[2022-09-17 15:19] #39 closed

[2022-09-17 15:23] #38 closed

[2022-09-17 15:27] #37 closed

[2022-09-17 15:31] #36 closed

[2022-09-17 15:34] #35 closed

[2022-09-17 15:53] #30 closed

[2022-09-17 15:53] #31 closed

[2022-09-17 15:53] #32 closed

[2022-09-17 15:53] #33 closed

[2022-09-17 15:53] #34 closed

[2022-09-19 06:44] hagezi opened #40 "OVPN support chat"
Needed for OVPN support chat:

[code]

blockled by @ookangzheng blacklist

[2022-09-19 06:44] hagezi commented on #40
fixed in https://github.com/hagezi/dns-blocklists/commit/497f861a0023a28e45819b5fd84e7cdf5dc6a037

[2022-09-19 06:44] #40 closed

[2022-09-21 05:08] sr093906 opened #41 "FPs"
This is a humble attempt to remove some most distinct FPs from Pro.Plus edition.

All results are based on

https://github.com/hagezi/dns-blocklists/commit/bf9d7f0ad8fd26de9a488342f4196354ef20561a#diff-f6a2b7e14a91f43dd335d0cd5a2d0011a98d9bf1e6181ae3624b231b77e36160

https://tranco-list.s3.amazonaws.com/tranco_K2QXW-1m.csv.zip

Methodology:

1. Download the pro.plus file
2. Download the tranco lis

[2022-09-21 08:46] hagezi commented on #41
Hi, thanks, I'm already using partial toplists from cisco umbrella to find potential false posistve domains, but you can't just apply them as whitelist, because you will always catch tracking and ad domains. That means you have to look very carefully what you whitelist and actually check every domain manually. Even if you only extract the first x hundred domains from the toplists.
So it is very ti

[2022-09-21 09:51] hagezi commented on #41
@sr093906 Thanks for the idea and your work. I'm checking your list right now and removing false positive domains.

[2022-09-21 14:59] hagezi commented on #41
build is running ...

[2022-09-21 17:39] hagezi commented on #41
Fixed with last update.

[2022-09-21 17:40] #41 closed

[2022-09-26 12:46] sr093906 opened #43 "Possible FPs in TOP 1M"
Based on

https://github.com/hagezi/dns-blocklists/commit/1a832461b5fd5d2ed7158ea26186dba39887163e#diff-f6a2b7e14a91f43dd335d0cd5a2d0011a98d9bf1e6181ae3624b231b77e36160

https://dsi.ut-capitole.fr/blacklists/index_en.php

https://tranco-list.eu/list/82GXV/1000000

See text files in the zip

[common.zip](https://github.com/hagezi/dns-blocklists/files/9646289/common.zip)

[2022-09-26 13:47] hagezi commented on #43
Thanks for your work @sr093906 , I'll look at the potential false positive domains and remove them if necessary.

[2022-09-26 20:33] hagezi commented on #43
false positive domains were removed

[2022-09-26 20:33] #43 closed

[2022-09-27 08:25] trackerct opened #44 "Trackers"
Can you add blocklist please?
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

Trackers by Vivo Mobile (have a couple of dns queries)

tr-vcode-od.vivoglobal.com
tr-vcode-api.vivoglobal.com
tr-st-sl.vivoglobal.com
tr-domaincfg.vivoglobal.com
tr-timesync.vivoglobal.com
tr-romsp-unifyconfig.vivoglobal.com
asia-ex-adlog.vivoglobal.com
asia-analyzer-appstore.vivoglobal.c

[2022-09-27 10:43] hagezi commented on #44
I don't just blindly add domains without knowing more details. First, an extensive analysis is necessary. That you "recognized" them as trackers is not enough. Some of the domains mentioned are definitely false positives and breaks functionality.
Blocking them may not cause any problems for you, but it probably will for the masses.
I suggest you to put them on your personal blacklist.

See:
https:

[2022-09-27 10:43] #44 closed

[2022-10-02 06:24] sr093906 opened #45 "FPs"
Found in pro.plus domain txt

Don't forget the www. variants, if any

chinatruck.org news portal about trucks
21food.cn food e-commerce site
8684.cn public transport navigation app
bjtime.cn time query and various info for public
bozhou.gov.cn   government site
ccgslb.com.cn content delivery
cert.org.cn  computer emergency response team
cggc.cn  China Gezhouba Group site
cnnic.cn China Internet ne

[2022-10-02 07:54] sr093906 opened #46 "Possible FPs"
Random .de sites from Top 1M domain list from the world's biggest botnet Cloudflare. Maybe some domains are quite familiar to you.

https://blog.cloudflare.com/radar-domain-rankings/

Found in pro.plus edition

2fine.de
2proxy.de
abitur-undwieweiter.de
aikq.de
alphafrau.de
angebotedirekt24.de
antonmack.de
aurum-juweliere.de
auskunft.de
autopfand24.de
av-by-dialog.de
ba-content.de
baustb.de
bdi-ser

[2022-10-02 11:36] #45 closed

[2022-10-02 17:54] hagezi commented on #46
Thanks, a few false positives I found, but most are flagged by virustotal or zscaler.

[2022-10-02 17:54] #46 closed

[2022-10-03 04:09] sr093906 opened #47 "FPs"
Found in pro.plus edition

chrunlee.cn personal blog

clarins.com.cn Clarin's official Chinese site

lockview.cn  website/ip acess restriction

pepsico.com.cn Pepsico's official Chinese site

rbc.cn local radio site

wilf.cn personal blog

yhjxcj.cn machinery maker

zhongmin.cn insurer

[2022-10-03 04:28] sr093906 opened #48 "Possible FPs"
some academic sites. Found in pro.plus domain

atsn.ac.th
iitrpr.ac.in
kanlayanee.ac.th
mut.ac.ke
apu.edu.my
chnu.edu.ua
ifbaiano.edu.br
netco.edu.np
overseas.edu.lk
pamer.edu.pe
ringling.edu
smarttrain.edu.vn
tsatu.edu.ua
unicauca.edu.co
vanividyalaya.edu.in
wcc.edu.in

[2022-10-03 09:54] trackerct opened #49 "ads trackers"
for
https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/light.txt

collect.analytics.unity3d.com
statsfe2.update.microsoft.com
static.cloudflareinsights.com
mads.amazon-adsystem.com
unagi.amazon.com
fls-na.amazon.com
data.media-lab.ai
r.remarketingpixel.com
toblog.tobsnssdk.com
www.adspirit.com
cdn.consentmanager.mgr.consensu.org
consentmanager.mgr.consensu.org
crm.adflex.com.tr
v

[2022-10-03 10:47] hagezi commented on #47
chrunlee.cn flagged by Threat Intelligence Feeds
wilf.cn flagged by Cryptojacking

[2022-10-03 11:04] hagezi commented on #49
https://github.com/hagezi/dns-blocklists/issues/44#issuecomment-1259319063

[2022-10-03 11:04] #49 closed

[2022-10-03 11:05] #48 closed

[2022-10-03 11:19] trackerct commented on #49
them 100% ads-trackers
no false positive
no need check

[2022-10-03 11:44] hagezi commented on #47
Yes, I agree with you. I'll check that again.

[2022-10-03 11:49] #47 closed

[2022-10-03 20:03] gothic-bum commented on #49
`settings.data.microsoft.com` is used for Windows apps to dynamically update their configuration.

`self.events.data.microsoft.com` is used to connect to the Microsoft 365 admin center's shared infrastructure, including Office in a browser. If this is blocked, users won't be able to save documents to the cloud or see their recently used documents.

Etc...

[2022-10-09 17:00] fishlvl opened #50 "Torrent tracker announce domains being blocked"
In https://raw.githubusercontent.com/hagezi/dns-blocklists/main/domains/personal.txt

I've noticed that these domains are on your list:

- tracker.beyond-hd.me
- tracker.animebytes.tv
- tracker.alpharatio.cc

These are bittorrent tracker announce urls for three different private trackers. I think these three - and I'm sure there are more that I haven't encountered - should be removed.

[2022-10-09 18:16] hagezi commented on #50
Thank you, the torrent trackers have been removed. I will check my list again for more torrent trackers.

[2022-10-09 18:41] #50 closed

[2022-10-10 03:24] sr093906 opened #51 "Using CWF API to Bulk Classify Domains"
I haven't tried it myself. So, I cannot ensure the viability.Maybe you can have a try.

https://cwf.comodo.com/subscriptions.php

The available categories are listed here
https://cwf.comodo.com/categories.php

Find common entries between pro,plus version and top 1M.

Then, removing malicious ones identified by Google Safe browsing API (https://github.com/elliotwutingfeng/Inversion-DNSBL-Blocklists

[2022-10-10 06:17] hagezi commented on #51
Thanks for the suggestion. I'll take a closer look.

[2022-10-28 15:44] piquark6046 opened #52 "Use List-KR instead of Youslist"
Please use [List-KR filter](https://github.com/List-KR/List-KR) instead of [Youslist](https://github.com/yous/YousList) replaced with List-KR in [uBlock Origin](https://github.com/gorhill/uBlock/commit/ed0f7ae3ce1fbc9445e5c9bca0890fb86ab3d0b9).
The number of List-KR commits is larger than the number of YousList commits.

Furthermore, List-KR filter is being supported by AdGuard Software Ltd. This

[2022-10-28 16:02] hagezi commented on #52
Thanks @piquark6046, added:
https://adguardteam.github.io/HostlistsRegistry/assets/filter_25.txt

[2022-10-28 21:13] HellboyPI opened #53 "[Suggestion] Split the DoH/VPN/TOR/Proxy Bypass list into 2 lists"
Suggestion -> Split the DoH/VPN/TOR/Proxy Bypass list into 2 lists:
1) encrypted dns servers,
2) VPN/TOR/Proxy.

OR, don't change this list. Create a new list with dns servers only.

Reason:
For users who want to maintain control in their network with DNS blocking, but sometimes need a VPN (to bypass geo blocking for some content, to avoid social media blocks, for streaming...).

[2022-10-28 22:48] #52 closed

[2022-10-29 05:33] hagezi commented on #53
Thank you, I prefer to create a separate DoH list. I will tackle this in the days to come.

[2022-10-30 09:38] RichardBeisser opened #54 "False Positive: pcwelt.de and www.pcwelt.de"
Hello,

pcwelt.de = German computer magazin
Please remove pcwelt.de and www.pcwelt.de from all lists.

Thanks.

[2022-10-30 11:05] #54 closed

[2022-10-30 11:05] hagezi commented on #54
Many thanks, fixed.

[2022-10-31 09:05] hagezi commented on #53
@HellboyPI

Please check the list: https://github.com/hagezi/dns-blocklists#bypass_dns

Thanls,
Gerd

[2022-10-31 23:26] HellboyPI commented on #53
This is it. Thank You!

[2022-10-31 23:26] #53 closed

[2022-11-01 02:37] hagezi commented on #53
Thanks, will check later.

[2022-11-01 06:34] hagezi commented on #53
@HellboyPI
Missing DoH domains have been added. Thanks for your support.

[2022-11-06 05:22] whitedevil143 commented on #41
I

[2022-11-06 20:48] #51 closed

[2022-11-10 16:05] yokoffing opened #57 "[Suggestion] Include DDNS in the Multi lists"
What's the rationale for not including the `Dynamic DNS blocking` list with the `Multi` lists? We are [already including](https://github.com/hagezi/dns-blocklists#multi-blocklist-version-and-size-overview) `Threat Intelligence Feeds` list. Should we not also add DDNS protection so that users don't need to add a separate list?

[2022-11-10 16:36] dnmTX opened #58 "[adblock rules] automatic update not working"
Hi @hagezi 👋  I just loaded the Dynamic DNS blocking in Adguard DNS filter and it seems that some adjustments are needed in order to be updated regularly. This is what is showing on my end:

![Capture](https://user-images.githubusercontent.com/34774426/201153002-b108c0f5-d92f-42e4-9b3b-294fbd5ae021.PNG)

As i'm not very familiar what exactly needs fixing i hope @ameshkov won't mind pitching in wit

[2022-11-10 16:38] hagezi commented on #57
The DDNS block list contains only the parent domains (FLDs) of the DynDNS providers. Example:

`duckdns.org`

The TIF list contains only known subdomains (SLDs) of the DynDNS providers that have been classified as dangerous:

[code]

So, if you use DDNS blocklist, you block full access to DDNS provider - parent domain including all subdomains (`*.duckdns.org`).
Of course this only works in adblock

[2022-11-10 16:47] ameshkov commented on #58
Definitely looks like an our issue, not the list's.

[2022-11-10 16:51] dnmTX commented on #58
@ameshkov thanks for pitching in and clarification 👍 I guess will wait for fix in the upcoming update.
Closing this as it's not a list's issue.

[2022-11-10 16:51] #58 closed

[2022-11-10 16:51] yokoffing commented on #57
Thank you for clarifying!

[2022-11-10 16:51] #57 closed

[2022-11-10 16:53] hagezi commented on #58
Thanks @dnmTX @ameshkov .

[2022-11-10 16:56] ameshkov commented on #58
@dnmTX but please open it on our repo:)

[2022-11-10 19:04] xenstar opened #59 "Can you include this list"
Hi, I love your idea, and thanks for creating so many varieties of blocklists.

I have been using this for a few months, can you also include this list so the common domains that are not included in the list? If you add to your list, I will then remove my adguard home and use your list only.

https://github.com/jerryn70/GoodbyeAds

[2022-11-10 19:12] xenstar commented on #59
And this one too - https://anti-ad.net/easylist.txt

[2022-11-10 22:46] hagezi commented on #59
Hi,

thank you, you can provide me with your lists, I will then look at whether they provide added value.

But it's not the number of sources used that matters, it's what comes out in the end, the final product should be effective and efficient.
I have examined many lists in detail over months, some are poorly maintained, have lots of dead and false positive domains. In short, they don't add much

[2022-11-10 23:52] dnmTX opened #60 "[Dynamic DNS/Free Hoster] additional domains to add"
@hagezi i had my own personal Dynamic DNS list that i was using so i compared them and excluding the duplicates there were few left if you want to add them to yours:
[code]
Cheers 👍

[2022-11-10 23:55] hagezi commented on #60
Hi,

Thank you very much, I will add them later.

Greetings,
Gerd

[2022-11-11 05:28] hagezi commented on #60
Added, thanks for your support!

[2022-11-11 05:50] xenstar commented on #59
"There are people who have 5,000,000 domains in their blocklist, but less block rate as with the Pro++. Less is sometimes more."

I completely agree with you.

Here are some of the lists I am using, but I am sure there are duplicate domains here as well.

OISD ABP I also use, but that's already included in your list.

Anti-Ad (Mostly blocks Chinese adverts/trackers) - https://anti-ad.net/easylist.

[2022-11-11 10:14] hagezi commented on #59
Domains from the following lists are already included by used sources or own blacklists:

You can't block Youtube ads via DNS, using such lists will cause some videos not to load or to break during playback. To block Youtube ads, browser content blockers are the right choice:

I will probably include the following list:

I'll take a closer look at the other lists.

[2022-11-11 10:25] hagezi commented on #59
The following list provides only 5 extractable domains that are already included in my lists, it has significant filtering rules for content blockers:

[2022-11-11 10:34] hagezi commented on #59
Following list has 42168 dead domains, 11957 safe whitelisted domains and 181172 domains are already on pro++ list. The remaining domains do not add value to my lists:

[2022-11-11 14:21] hagezi commented on #59
Checked the other lists:

Anti-Ad : will add 2032 missing/active domains.
Chinese Domestic Video Websites: will add 232 missing/active domains.
Cat Rules: will add 15 missing/active domains.

[2022-11-11 14:46] dnmTX commented on #60
@HellboyPI because all of them(as far as i remember) are being abused.Spreading malware and such,the same way the Dynamyc Domains are used for. So that is why i add them at the time. All those(some of their URL's) were in phishing/malware blocklists.
Why treat them differently?

[2022-11-11 18:05] HellboyPI commented on #60
Weebly & Jimdo offer free website creation, but only as subdomains.
Example:
mysite.jimdofree.com
mysite.weebly.com

In the past probably some of these free websites were (ab)used for malware/ phishing. And that's why they got blacklisted. The subdomains, not the whole domain.
Blocking the whole domain ensures that your network is always 100% protected, even if the subdomain changes.
I understand

[2022-11-11 21:31] hagezi commented on #60
I understand both points of view, since it is a pure DynDNS list, weebly.com should not really be on the list. On the other hand, there are 1780 weebly.com subdomains on the TIF list. So weebly.com is definitely dangerous.
I am thinking about what to do with the list, I could expand it and rename it to "DynDNS + website hosters that are mostly dangerous" or remove the non-DynDNS domains.
I tend to

[2022-11-12 15:48] xenstar commented on #59
Hello,

Thanks for the update. So the pro++ list is this one, right?

![image](https://user-images.githubusercontent.com/55502651/201482277-c1be75c4-c329-44ce-b044-5983a1b7bcc9.png)

Also, can you confirm,

Anti-Ad : will add 2032 missing/active domains.
Chinese Domestic Video Websites: will add 232 missing/active domains.
Cat Rules: we will add 15 missing/active domains.

If in the future, these

[2022-11-12 17:37] hagezi commented on #59
Yes, I am currently working on an automatic integration of the 3 lists. Currently, I have only taken over the missing domains. I'll let you know when the automatic integration is implemented.

The antiadblock list is already taken over automatically.

[2022-11-12 18:39] xenstar commented on #59
alright. thanks.

and where can I report whitelist of some domain?

e.g I just added your pro+ list and https://appsumo.com/ domain was blocked. But it's a very nice Lifetime deal website.

[2022-11-12 19:26] hagezi commented on #59
For a whitelist request you can simply open an issue. Since you reported it here, I have already removed the domain from the lists.

[2022-11-12 20:09] hagezi commented on #59
Autoupdate implemented. Closing ...

[2022-11-12 20:09] #59 closed

[2022-11-12 21:42] HellboyPI commented on #60
3 options:

1) You wrote, that You found 1780 weebly.com subdomains on the TIF list. Based on that information (subdomains are already on that list), website hosters that are mostly dangerous should be put on the TIF list.

2) Create a separate list for website hosters, like You've done for Dynamic DNS. That way, users will decide whether to use that list. For users who want maximum protection, ad

[2022-11-12 23:41] kwitsch opened #61 "[Suggestion] Add blocky to recommendations"
Add [blocky](https://github.com/0xERR0R/blocky) as recommendation for network wide DNS blocker.

As blocky doesn't provide it's own user interface it may be more suited for advanced users. 😅

[2022-11-13 04:50] hagezi commented on #61
Thank you, I will add this to my recommendations.

[2022-11-13 13:25] #61 closed

[2022-11-13 13:34] hagezi commented on #60
I also tend to 2., if I have time I look which hoster that would be at all, or does anyone have a list in his back pocket? ;)

[2022-11-13 15:20] dnmTX commented on #60
start with the worst and will keep on adding them: `||000webhostapp.com^` 😉

[2022-11-13 19:24] trackerct opened #62 "missed ads"
[code]

[2022-11-13 19:44] hagezi commented on #62
Thank you, I will analyse the domains and add them if necessary.

[2022-11-13 20:41] yokoffing opened #63 "incorporate VXVault into TIF"
For [TIF](https://github.com/hagezi/dns-blocklists#threat-intelligence-feeds---increases-security-significantly-), we are using the domains version of iam-py-test's [The malicious website blocklist](https://raw.githubusercontent.com/iam-py-test/my_filters_001/main/Alternative%20list%20formats/antimalware_domains.txt).

But this does not include the VXVault list , which is in the original, adblock

[2022-11-13 21:02] hagezi commented on #62
Nice find, added the domains to my personal list. Some were already on the Pro++. They will be added to all lists in the next update.

Closing ...

[2022-11-13 21:02] #62 closed

[2022-11-13 21:20] hagezi commented on #63
Thanks for the tip, will include the domains version:
https://raw.githubusercontent.com/iam-py-test/vxvault_filter/main/domains_file.txt

[2022-11-13 21:42] yokoffing commented on #60
I naturally lean towards option 1, but this may break websites for average users.

I think option 2 is sensible. Including the `Dangerous Hosts` list (or whatever you end up calling it) automatically in Pro++ list is good, too.

You'll have to add another column [to your chart](https://github.com/hagezi/dns-blocklists#multi-blocklist-version-and-size-overview), @hagezi! 😆

[2022-11-13 21:55] hagezi commented on #63
added, thanks for your support!

[2022-11-13 21:55] #63 closed

[2022-11-14 00:09] dnmTX commented on #63
@yokoffing the `$all` modifier when used with AdGuard doesn't block everything from the specific domain.
You can read about it here:
https://kb.adguard.com/en/general/how-to-create-your-own-ad-filters#:~:text=iOS%20and%20Safari.-,all,%27unsafe%2Deval%27%20http%3A%20https%3A%20data%3A%20blob%3A%20mediastream%3A%20filesystem%3A%0A%7C%7Cexample.org%5E,-cookie

Also rule like: `||103.145.253.70^$all`

[2022-11-14 00:22] yokoffing commented on #63
@dnmTX, I'm aware of basic adblocking syntax. If you review the primary sources, you'll see that the list is intended for uBlock Origin...

Also, it doesn't matter for this repo: This list will be aggregated with the others and be reformatted for their [target format](https://github.com/hagezi/dns-blocklists#threat-intelligence-feeds---increases-security-significantly-).

[2022-11-14 00:26] dnmTX commented on #63
uBlock Origin and AdGuard are pretty much inline with their modifiers,this way they can exchange their lists.
Maybe you need to read first before you start arguing for the sake of arguing !!!!!!

[2022-11-14 00:58] yokoffing commented on #63
In many ways, yes.

My second point still stands: "This list will be aggregated with the others and be reformatted for their [target format](https://github.com/hagezi/dns-blocklists#threat-intelligence-feeds---increases-security-significantly-)." The original formatting does not matter for our purposes.

If you don't like the author's syntax and/or want to use the list, [open an issue](https://git

[2022-11-14 04:36] hagezi commented on #63
https://github.com/gorhill/uBlock/wiki/Static-filter-syntax#all

[2022-11-14 10:16] hagezi commented on #60
The first attempt:

https://github.com/hagezi/dns-blocklists/blob/main/domains/hoster.txt
https://github.com/hagezi/dns-blocklists/blob/main/adblock/hoster.txt

Feedback requested.

Thanks,
Gerd

[2022-11-15 02:12] yokoffing opened #64 "(Discussion) OISD and notracking"
I am in the process of reformatting my [filterlist repo](https://github.com/yokoffing/filterlists), and I'd like to recommend your lists. However, I'd like to discuss your list categorization.

For your [sources](https://github.com/hagezi/dns-blocklists/blob/main/usedsources.md#sourcesstatistics) undergirding the lists, we have:

- Light: OISD basic + 1Hosts (Lite) + other lists
- Normal: notracki

[2022-11-15 07:00] hagezi commented on #64
Thanks for that! A great compilation! There is really nothing to add.

I agree with you and will implement option 1.

I can't think of a plausible reason why I did it that way back then. I had examined all blocklists in advance and know that the notracking is not balanced.

Gerd

[2022-11-15 07:12] hagezi commented on #64
Just FYI:

I had once tested the effectiveness of individual lists in my family home network and in a test against 6,000 websites from the top list known for excessive tracking, the result:

1. 1Hosts (Lite)
2. OISD
3. Adguard DNS Filter
4. NoTracking
5. Steven Black
6. Denylist

@badmojr's 1Hosts is effective as hell and a necessary source for a blocklist!

[2022-11-15 11:10] yokoffing commented on #60
Looks good to me 👍🏻

[2022-11-15 13:52] yokoffing commented on #64
Most certainly 😁

[2022-11-15 15:08] yokoffing commented on #64
Sweet. One last things: Do you plan on making [pull requests](https://github.com/nextdns/metadata/pulls/hagezi) for `Light` and `Normal` for [NextDNS](https://help.nextdns.io/t/h7hsypb/blocklist)?

[2022-11-15 16:22] hagezi commented on #64
Was not actually planned. But you are welcome to make some. I don't think they'll take any of my lists anyway. In the NextDNS repository there is little to no feedback anyway. You can see it in the open issues and pull requests. Absolutely no feedback. In the help forum no one reacts either. One has the feeling that user requests are skillfully ignored.

Maybe it is the AI that administers NextDNS

[2022-11-15 17:37] #64 closed

[2022-11-16 10:28] hagezi commented on #60
No further feddback, so I'll close the issue.

[2022-11-16 10:28] #60 closed

[2022-11-17 14:15] RainmakerRaw opened #65 "FP overclockers.co.uk"
Hello. The pro.plus list is blocking this domain:

    ||overclockers.co.uk^

It's a big computer components store in the UK, with an attached community forum (of which I've been a member for decades). I think it's a false positive. Can you please review and remove if appropriate? I can't see a reason they'd be blocked, even on Pro+. Many thanks!

[2022-11-17 14:56] #65 closed

[2022-11-17 14:57] hagezi commented on #65
Removed,

Thanks for your support!

[2022-11-18 08:51] trackerct opened #66 "missed ads-trackers 2"
[code]

[2022-11-18 10:37] hagezi commented on #66
Thanks, will check ...

[2022-11-19 11:50] trackerct commented on #66
Thanks. Updated.

[2022-11-19 16:38] yokoffing opened #67 "Allowlist go.oaktreecapital.com"
Needed to open Oaktree Insights investment emails.

Just [submitted to OISD](https://www.reddit.com/r/oisd_blocklist/comments/s70dhx/comment/iwzpyle/?context=3) as well.

[2022-11-19 18:47] #67 closed

[2022-11-19 18:49] hagezi commented on #67
@yokoffing Thanks, removed.

[2022-11-20 04:14] RainmakerRaw opened #68 "FP Oracle Cloud telemetry"
Oracle Cloud offers a statistics page as part of its VPS/server range, namely to provide monitoring for your server instances (CPU/memory/disk/network usage etc). Unfortunately, the domains required to render this information are included in pro.plus (I didn't check the other lists), and are imho purely FPs.

The domains 'look' like they should be blocked, and I assume that's why they were include

[2022-11-20 06:20] hagezi commented on #68
@RainmakerRaw

Thank you for the explanation. I agree with you and will remove the domains as you suggested.

I will use the pattern *telemetry.*oraclecloud.com.

Gerd

[2022-11-20 06:27] #68 closed

[2022-11-20 17:54] yokoffing opened #69 "Allowlist logsink.devices.nest.com"
See https://github.com/badmojr/1Hosts/issues/847

Thank you again for the awesome lists!

[2022-11-20 18:34] #69 closed

[2022-11-20 19:20] hagezi commented on #66
already on the pro++ list:
[code]
restricts functions
[code]
added to personal list:
[code]
added to pro++ list
[code]

[2022-11-20 19:20] #66 closed

[2022-11-22 18:04] marcoclg19 commented on #64
Hi, I'm entering the discussion :)
On Reddit, I reported your blocklists to NextDNS but nothing to do. You should ask @badmojr how its 1Hosts(Xtra) list became part of the blocklists.
However, I saw that a list of yours will be added to AdGuardDNS... do you know when it will be available? I cannot wait xd.

(and I forgot to say that your lists are perfect, nice work indeed)

[2022-11-22 20:01] hagezi commented on #64
Hi @marcoclg19,

AdGuardDNS will probably include a combination of my personal blacklist and the false positive and referral whitelist, it is the following list: https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/personal-blackwhite.txt
It is intended to serve as a addition to the lists available there.
The list is currently in the test environment of AdGuardDNS, if and when it w

[2022-11-22 20:38] yokoffing commented on #64
1Hosts (Xtra) was [added](https://github.com/nextdns/metadata/commit/5ed13aaca19a7f14b84c2c5cbc6ac6b9a580c3c3) four months ago. That's why they were saying you should ask badmojr how 1Hosts (Xtra) got approved.

[2022-11-24 07:29] xenstar opened #70 "Whitelist Request"
I am using your Pro + List.

meituan.com

meituan.net, most links are blocked, and the service cannot be used.

Meituan is a popular food delivery app from China.

You can only block the meituan domains stated in antiad.net. For other domains you can whitelist it.

[2022-11-24 08:52] hagezi commented on #70
Thanks, fix is online.

[2022-11-24 08:52] #70 closed

[2022-11-24 16:12] johannes1984 opened #71 "app.gitbook.com"
First of all, great project!

Just a little remark that app.gitbook.com gets blocked. This leads to strange behaviours on gitbook.io

[2022-11-24 16:32] hagezi commented on #71
Thanks, fix is online.

[2022-11-24 16:32] #71 closed

[2022-11-25 14:08] spec1re opened #72 "FP www.manli.com"
Manli is a GPU AiB, it shouldn't do any harm. :P

https://www.manli.com/en/product-detail-Manli_GeForce_RTX%C2%AE_4090_Gallardo_(M3530+N675)-312.html

Listed in TIF

[2022-11-25 14:21] hagezi commented on #72
Thanks, I will fix this as soon as possible. Currently, a build of the lists is already running. When this is finished I will remove the domain.

[2022-11-25 15:03] hagezi commented on #72
Fix is online https://github.com/hagezi/dns-blocklists/commit/4abe4fd828089f194e568ad45cc4d8c84f32709d

[2022-11-25 15:03] #72 closed

[2022-11-25 15:47] spec1re commented on #72
Thanks!

[2022-11-25 16:22] xenstar opened #73 "Unblock cdn.reamaze.com"
I was going to contact customer support, then realized that cdn.reamaze.com was blocked. It's a simple customer support software.

[2022-11-25 16:48] hagezi commented on #73
Thanks, fix is online.

[2022-11-25 16:48] #73 closed

[2022-11-25 22:03] Dynasty-Dev opened #74 "[False Positive] b-cdn.net"
Blocklist: Pro

Example: Stops pihole fourms from loading
Test: https://discourse.pi-hole.net/t/adguard-home/13781
Won't load until you whitelist

[2022-11-25 23:21] hagezi commented on #74
Thanks, fixed.

[2022-11-25 23:21] #74 closed

[2022-11-26 00:47] RainmakerRaw opened #75 "FP ip.istatmenus.app"
Literally used to simply fetch the user's public IP on request, for display in the Network section of Bjango's paid iStat Menus app on macOS. Currently blocked in `pro.plus.txt`, breaking this functionality.

[Domains contacted by iStat Menus](https://bjango.com/help/istatmenus6/domains/).

Please kindly consider whitelisting/removal. Thank you (again!).

[2022-11-26 01:02] RainmakerRaw commented on #75
On investigation, it appears the FP originates with 1Hosts Pro again. I have filed reports with them before, but they have many outstanding Issues with no acknowledgement for quite some tme, unfortunately. That's how I actually found and started using your lists, and being thankful for your responsiveness! I'd recently been using 1Hosts Lite, NoTracking and Lightswitch05 (again too many FPs in tim

[2022-11-26 01:10] trackerct opened #76 "False Positive"
please remove this domains. Streaming video not working, break sites.

beggarlyfilmingabreast.com
cdn.sgmntfy.com
cdn.segmentify.com
per2.segmentify.com
key.seckeyserv.me

[2022-11-26 04:01] hagezi commented on #76
@trackerct Please send me a link where I can check this.

Thanks,
Gerd

[2022-11-26 09:05] trackerct commented on #76
`www.gratis.com`

[2022-11-26 12:18] hagezi commented on #76
@trackerct `gratis.com` fix is online, please check.

What do the following domains need to be unblocked for:
[code]

[2022-11-26 12:34] hagezi commented on #75
@RainmakerRaw Thanks for your support!

Yes, the lists light to pro build on each other by including the upper list, the pro++ is different. It includes again all external upstream and other lists.
Why? So that I can e.g. whitelist domains in the lists light to pro, but do not have to do this for the pro++. The goal was to be able to handle the pro++ completely different. I could have done this di

[2022-11-26 13:18] trackerct commented on #76
Thanks. Stream Links will appear around 60 mins prior to game start. :D I'm waiting.

[2022-11-26 13:26] trackerct opened #77 "Missed ads-trackers 3"
[code]

[2022-11-26 13:54] hagezi commented on #76
@trackerct

`*. seckeyserv.me` is not blocked in any of my lists.

`beggarlyfilmingabreast.com` is flagged, DGA domain and blocked by Quad9:

https://www.virustotal.com/gui/domain/beggarlyfilmingabreast.com/details
https://otx.alienvault.com/indicator/domain/beggarlyfilmingabreast.com
...

I will not whitelist it, if it is needed for whatever, put it on your personal whitelist. I advise you agains

[2022-11-26 13:54] #76 closed

[2022-11-26 14:14] hagezi commented on #77
@trackerct
Where do you find these domains?
Please post in the future also the links from which they are called, this facilitates the analysis!

Already on Pro++:
[code]

Safe whitelisted:
[code]
For referral domains like `redirects.tradedoubler.com` see: https://github.com/hagezi/dns-blocklists#referral

To check:
[code]

[2022-11-26 16:34] johannes1984 opened #78 "classifiedscloud.io - Recommendation to add"
Blocking classifiedscloud.io drastically reduces ads in the ebay Kleinanzeigen app. Might be only relevant for Germany but it makes the app very clean. :-)

[2022-11-26 16:36] hagezi commented on #77
Dead - can not be resolved:
`ad.myinstashot.com` - `myinstashot.com` is blocked in pro++

Added:
[code]

[2022-11-26 16:37] #77 closed

[2022-11-26 16:42] hagezi commented on #78
Thanks, tested and added. Will add to all lists in next update.

Thanks for your support,
Gerd

[2022-11-26 17:06] hagezi commented on #78
@johannes1984

I had clicked through the app and could not find anything negative, however according to umbrella top list there are the following domains that are called:

attachments.eu.corechat-prod.classifiedscloud.io
corechat-prod.classifiedscloud.io
des.ebayk.liberty-prod.classifiedscloud.io
ebayk.liberty-prod.classifiedscloud.io
eu.corechat-prod.classifiedscloud.io
liberty-prod.classifiedscl

[2022-11-26 17:12] johannes1984 commented on #78
@hagezi

Good point, indeed. Same for me, no strange behavior. :-)

But lms.ebayk.liberty-prod.classifiedscloud.io seems to deliver the adds. Currently I have the full domain blocked -> no adds. When I whitelist lms.ebayk.liberty-prod.classifiedscloud.io the ads are back.

[2022-11-26 17:16] hagezi commented on #78
Thanks, I will test it.

[2022-11-26 17:19] hagezi commented on #78
@johannes1984
Can you post a screenshot with and without ads? I see ads in the ios app whether lms.ebayk.liberty-prod.classifiedscloud.io is blocked or not.

[2022-11-26 18:38] hagezi commented on #78
@johannes1984
Blocking `lms.ebayk.liberty-prod.classifiedscloud.io` is the right way to go. Added the domain, will go live with the next autoupdate.

[2022-11-26 18:38] #78 closed

[2022-11-27 09:36] marcoclg19 commented on #64
I wonder why NextDNS doesn't permanently remove the Energized lists. But not only those I would also say those that haven't been updated for years like the NSA… I don't remember exactly or the Disconnect ones.

In my opinion, all lists that are out of date or without any type of support should be removed.

I don't know maybe I'm too paranoid :(

[2022-11-27 12:36] hagezi commented on #64
Yes, the current list selection is mostly out of date. I don't understand them either. And I also can't understand why they are holding on to Energized. But who knows what's going on in the background.

[2022-11-28 00:53] botthebestplayerintheworld opened #79 "config.uca.cloud.unity3d.com"
https://github.com/badmojr/1Hosts/issues/844

[2022-11-28 01:07] suricloud opened #80 "filter lists"
Hi i see you recommend these block list on nextdns  and adguard.
But is adguard dns filter not already included in oisd?

Normal | 1Hosts (Lite) + AdGuard DNS filter + OISD

[2022-11-28 04:06] Dynasty-Dev opened #81 "A question"
Hello, thank you for your lists, I am using them in AdGuard home and it’s been good.

I have a question, how come IP address are stripped from the threat intelligence feed list? Just wondering because I have another malware blocklist for AdGuard home which has IPS and AdGuard home has this capability.

Another question is can you add the next dns threat intelligence feeds into yours?
It worked gre

[2022-11-28 04:08] hagezi commented on #80
Hi,

partly it is included, the AdGuardDNS list contains some domains that are whitelisted in oisd.

But these are probably included in 1 Hosts. One would have to check this.

Kind regards,
Gerd

[2022-11-28 11:16] suricloud commented on #80
Hi,

Oh ok,so you recommend to add adguard dns filter in the list?
What about this combination for home wifi and mobile config.
1Hosts pro + AdGuard DNS filter + OISD

[2022-11-28 11:30] hagezi commented on #79
@botthebestplayerintheworld

The domain is very common and present in many blocklists. It is used for in-game analytics and tracking. These analytics should actually be able to be turned off ingame. If blocking such a domain causes game functions to partially not work, this is definitely a very bad software design and should be seen as a bug of the game.

See: https://docs.unity3d.com/Manual/Unity

[2022-11-28 11:37] hagezi commented on #80
Besides the oisd, I think the 1Host list is mandatory, it is extremely effective and catches a lot of what was whitelisted in the osid. The AdGuardDNS list is a bonus that you can take or not.
The important domains are present in the 1Hosts lists.

[2022-11-28 11:38] suricloud commented on #80
Ok thanks.

[2022-11-28 11:39] hagezi commented on #80
It costs nothing to take the AdGuardDNS list with you, it is a well maintained list.

[2022-11-28 11:39] #80 closed

[2022-11-28 12:29] hagezi commented on #81
Hi

thanks for your feedback, on your questions:

1. Since these are pure DNS domain lists, the IPs are not included. An extension to include the IPs - for formats that support this - is being planned. But I have not started with that yet.
2. From the NextDNS threat intelligence feeds, my TIF actually include all the lists that are still maintained, but NextDNS TIF also include many out dated list

[2022-11-28 13:31] Dynasty-Dev commented on #81
Thank you so much for all of your detailed responses! Though yesterday, I forgot to ask one more question. How come all of your blocklists whitelist the same domains, like for example even your maximum protection list (pro++) unblock google search ads meaning double click. Another example is it also allows Meta graph domains. Perhaps it just means it contains more sources meaning higher chance of

[2022-11-28 13:39] pictosun commented on #81
As this sounds/like this thread is getting a discussion thread, I do have a question:

Within your NextDNS (https://github.com/hagezi/dns-blocklists#nextdns) you don't name the 'native' NextDNS List.

Does it mean, that you do not recommend them? Or just forgotten?

[2022-11-28 15:21] Dynasty-Dev commented on #81
Honestly it looks unmaintained (not updated since 2 years) and entries are questionable. I’ve gotten a few false positives while using the native device tracking in nextdns last year.

[2022-11-28 15:22] Dynasty-Dev commented on #81
Maybe @hagezi could make a pull request on the nextdns metadata repository and add his native tracking filters?

[2022-11-28 15:26] yokoffing commented on #81
- Their [list sources](https://github.com/nextdns/metadata/blob/d51f71bf491181f964dec7742322c8fcdb133e12/privacy/blocklists/nextdns-recommended.json#L2-L14) are covered by other filterlists he includes.
- Their allowlisting is garbage and the devs are not responsive to allowlist requests.

[2022-11-28 16:21] yokoffing commented on #81
@Dynasty-Dev, depending on your platform, you could:
- use OISD extra https://oisd.nl/downloadsXtra
- use 1Hosts Pro or Xtra alongside hagezi lists

Also note that you will need an adblocker / content blocker for ads at some point. Cosmetic filters for ads especially. DNS can't do everything.

FWIW, because of breakage, I recommend users have stricter blocking at the browser-level and lighter bloc

[2022-11-28 17:34] trackerct commented on #76
key.seckeyserv.me
`https://js.freestreams-live1.com/nhlnetwork4/`

[2022-11-28 18:46] trackerct opened #82 "Missed ads-trackers 4"
[code]

[2022-11-28 19:07] hagezi commented on #81
The build process allows me to intervene in the whitlisting process for each list, which I do, because in the Pro++ e.g. googletagmanager.com is not whitelisted, in the other lists it is.

Blocking [referral domains](https://github.com/hagezi/dns-blocklists#referral) makes no sense from my point of view as long as they do not distribute ads on pages. You only hinder the user, the first links in th

[2022-11-28 19:09] hagezi commented on #81
Welcome, I think @yokoffing has answered the question sufficiently.

[2022-11-28 19:13] hagezi commented on #81
I convert this issue into a discussion...

[2022-11-28 19:14] #75 closed

[2022-11-28 19:14] #79 closed

[2022-11-28 19:42] trackerct commented on #82
edit: report-edge.agora.io

[2022-11-28 20:11] hagezi commented on #82
@trackerct added, thanks!

[2022-11-29 08:57] RainmakerRaw commented on #75
Gerd,

Thanks so much for your helpful and welcoming reply. I'm sorry for the delay, I'm sick at the moment and not spending much time doing anything useful. I'll come back to you when I'm better placed to respond, but I didn't want to leave your message unanswered.

Thanks again!

[2022-11-29 11:45] hagezi commented on #75
@RainmakerRaw No problem, you in any case get well soon!